<ion-header #header>
  <ion-toolbar>
    <span class="header-heading ">WhatsApp</span>
    <ion-icon class="search-icon" slot="end" name="search"></ion-icon>
    <ion-icon class="three-dots" slot="end" name="ellipsis-vertical-outline" (click)="popover($event)"></ion-icon>
  </ion-toolbar>
  <ion-toolbar>

   
    <div>
     
      <ion-segment  (ionChange)="segmentChanged($event,i)" [(ngModel)]="selectedSegment">
        <ion-icon class="camera-icon" (click)="openCamera()" name="camera"></ion-icon>
       
        <ion-segment-button  [value]="item" *ngFor="let item of segmentList;let i = index" (click)="_segmentSelected(item,i)" >
          <ion-label >{{item}}</ion-label>
          
        </ion-segment-button>


      </ion-segment>
    </div>

  </ion-toolbar>



</ion-header>

<ion-content>

 <ion-slides  #slide (ionSlideDidChange)="_ionSlideDidChange($event)">
   <ion-slide> 
      <div class="width">
        <ion-list>
          <ion-item class="parent" *ngFor="let item of list"  [routerLink]="['/chattings']" routerLinkActive="router-link-active">
            <div class="child1">
              <ion-thumbnail item-start>
                <img class="commom-img" [src]="item.img">
              </ion-thumbnail>

              <ion-label>
                <h2>{{item.name}}</h2>
                <p>{{item.message}}</p>
              </ion-label>
            </div>
            <div class="child2">
              <span class="time">{{item.time}}</span>
            </div>
          </ion-item>
        </ion-list>
       
      <ion-fab #fab vertical="bottom" horizontal="end" slot="fixed" (click)="fabAnimationFunction()"
      [routerLink]="['/contacts']" routerLinkActive="router-link-active" >
        <ion-fab-button>
          <ion-icon name="logo-whatsApp"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    </ion-slide>

    <ion-slide>
      <ion-list class="width">
        <ion-item>
          <ion-thumbnail item-start>
            <img class="commom-img" src="assets/Profile.JPG">
          </ion-thumbnail>
          <ion-label>
            <ion-icon  md="md-add-circle"></ion-icon>
          
            <h2>Shahreen</h2>
           
          </ion-label>
        </ion-item>

      </ion-list>
      <img class="base64Image" [src]="base64Image">
    </ion-slide>

  </ion-slides>
</ion-content>